:root {
    --accent: darkseagreen;

}

/* Styling for the whole page */
body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

/* Styling for the header of the homepage with highscore and time */
header .scoreboard {
    text-align: left;
}

header .timer {
    text-align: right;
}

header .scoreboard:hover {
    color: var(--accent);
}

/*Styling for the header of the scoreboard page */
header .highscores {
    text-align: center;
    margin-top: 40px;
}

/* Styling for the body image, making it sit in center */
.card-header .header-image {
    max-width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Styling for the two sentences explaining the quiz and how much time */
.card-body {
    text-align: center;
    font-size: 17px;
}

/* Bolding and changing the color of the words '60 seconds' */
.card-body .color {
    color: var(--accent);
    font-weight: bold;
}

.cardbody .card-quiz {
    
}

/* Styling for the button */
.card-footer .start-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 18px;
    margin-top: 70px;
}